<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd     http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!--配置SpringMVC-->
    <!--1.开启SpringMVC注解模式-->
    <mvc:annotation-driven/>

    <!--2.静态资源默认servlet配置-->
    <mvc:default-servlet-handler/>
     <!-- rest json related... start -->
  <bean id="mappingJacksonHttpMessageConverter"
        class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>
    <!--3:配置jsp 显示ViewResolver(设置url显示前缀后缀)-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/jsp/"/>
        <property name="suffix" value=".jsp"/>
    </bean>
    <!--4.扫描web相关的bean,并修改拦截器-->
    <context:component-scan base-package="org.bicyclesharing.web" use-default-filters="false">
        <context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
        <context:include-filter type="annotation"
                                expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
    </context:component-scan>
    <!-- 配置管理员登录验证拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/admin-*"/>
            <mvc:exclude-mapping path="/admin-index-login-show"/>
            <mvc:exclude-mapping path="/admin-index-login-execute"/>
            <bean class="org.bicyclesharing.interceptor.AdminLoginInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>

    <!-- 配置管理员高级操作认证拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/admin-admin-*"/>
            <mvc:exclude-mapping path="/admin-admin-password-show"/>
            <mvc:exclude-mapping path="/admin-admin-password-execute"/>
            <bean class="org.bicyclesharing.interceptor.AdvancedOperationsInterceptor"></bean>
        </mvc:interceptor>
    </mvc:interceptors>
    <mvc:interceptors>
    	<mvc:interceptor>
    		 <mvc:mapping path="/admin-admin-*"/>
            <mvc:exclude-mapping path="/api-user-recharge"/>
            <mvc:exclude-mapping path="/api-borrow-returnBicycle"/>
             <mvc:exclude-mapping path="/api-borrow-borrowBicycle"/>
            <bean class="org.bicyclesharing.interceptor.UserInterceptor"></bean>
    	</mvc:interceptor>
    </mvc:interceptors>
	
</beans>